<h1>購入履歴</h1>
<p>======================================================================</p>

<% @orders.each do |order| %>
  <% order.purchase_items.each do |purchase_item| %>
    <p>商品名:<%= purchase_item.item.name %>(価格:<%= purchase_item.item.price %>円, 個数:<%= purchase_item.count %>)</p>
    <p style="color: blue">--------------------------------------------------------------------------------------------------------------------------------</p>
  <% end %>
  <p>注文ID:<%= order.id %></p>
  <p>送料:<%= order.delivery_fee %>円</p>
  <p>代引き手数料:<%= order.cash_on_delivery_fee %>円</p>
  <p>注文合計購入金額(税込み):<%= order.total_price %>円</p>
  <p>購入日:<%= order.created_at %></p>
  <p style="color: coral">======================================================================</p>
<% end %>
