<h1>購入履歴</h1>
<p style="color: coral">======================================================================</p>

<% @orders.each do |order| %>

  <p>注文ID:<%= order.id %></p>
  <p>注文合計購入金額(税込み):<%= order.total_price %>円(送料:<%= order.delivery_fee %>円,代引き手数料:<%= order.cash_on_delivery_fee %>円)</p>
  <p>お届け先:<%= order.address %></p>
  <p>購入日:<%= order.created_at %></p>

  <table border="1">
    <tr>
      <th>商品名</th>
      <th>価格</th>
      <th>個数</th>
    </tr>

    <% order.purchase_items.each do |purchase_item| %>
        <tr>
          <td><%= purchase_item.item.name %></td>
          <td><%= purchase_item.item.price %>円</td>
          <td><%= purchase_item.count %></td>
        </tr>
    <% end %>

  </table>

  <p style="color: coral">======================================================================</p>
<% end %>


