<h1>購入する</h1>

<% if @order.item_count > 0 %>

  <h2>購入商品</h2>

  <% @carts.each do |cart| %>

    <%= image_tag cart.item.image , width: "300px" %>

    <table border="1">
      <tr>
        <th>商品名</th>
        <th>単価</th>
        <th>合計</th>
      </tr>
      <tr>
        <td><%= cart.item.name %></td>
        <td><%= cart.item.price %>円(個数:<%= cart.count %>)</td>
        <td><%=cart.item.price * cart.count %>円</td>
      </tr>
    </table>

    <p style="color: coral">----------------------------------------------------------------------------------------</p>
  <% end %>


  <h2>お支払い情報</h2>


  <table border="1">
    <tr>
      <th>商品合計金額</th>
      <th>送料</th>
      <th>合計商品数</th>
      <th>代引き手数料</th>
      <th>お支払い合計金額(×税8%)</th>
    </tr>
    <tr>
      <td><%= @order.item_total_price %>円</td>
      <td><%= @order.delivery_fee %>円</td>
      <td><%= @order.item_count %>個</td>
      <td><%= @order.cash_on_delivery_fee %>円</td>
      <td><%= @order.order_total_price %>円</td>
    </tr>
  </table>

  <span style="font-size: 5px">※送料:5商品ごとに600円追加</span><br>

  <span style="font-size: 5px">※代引き手数料:商品合計金額が</span><br>
  <span style="font-size: 5px">0-10,000円未満：300円+税</span><br>
  <span style="font-size: 5px">0-10,000円未満：300円+税</span><br>
  <span style="font-size: 5px">10,000-30,000円未満：400円+税</span><br>
  <span style="font-size: 5px">30,000-100,000円未満：600円+税</span><br>
  <span style="font-size: 5px">100,000円以上：1,000円+税</span><br>

  <h2>配送先情報</h2>
  <%= form_with url: orders_path do |f| %>
    <%= f.label :address ,'送付先住所' %><br />
    <%= f.text_field :address , value: current_user.default_address %><br />

    <%= f.label :deliver_time, '希望配送時間帯' %><br />
    <%= f.select :deliver_time, {'8-12': 1, '12-14': 2,'14-16': 3, '16-18': 4, '18-20': 5, '20-21': 6}, :selected=>current_user.default_deliver_time %><br />

    <%= f.submit "購入する" %>
  <% end %>

<% else %>
  <p>購入する予定の商品はありません</p>
<% end %>

