<h1>購入する</h1>
<p>--------------------</p>

<p>||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</p>
<p>・商品合計金額:<%= get_item_total_price(@items)%>円</p>

<p>・送料:<%= get_delivery_fee(@items)%>円(合計商品数:<%= get_item_count(@items)%>)</p>
<span>※5商品ごとに600円追加</span><br>

<p>・代引き手数料:<%= get_cash_on_delivery_fee(@items)%>円</p>
<span>※0-10,000円未満：300円+税</span><br>
<span>※10,000-30,000円未満：400円+税</span><br>
<span>※30,000-100,000円未満：600円+税</span><br>
<span>※100,000円以上：1,000円+税</span><br>

<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>

<p>お支払い合計金額(×税8%):<%= get_order_total_price(@items)%>円</p>
<p>||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</p>

<% @items.each do |item_id, count| %>
  <% item = get_item(item_id) %>
  <p>商品名:<%= item.name %></p>
  <p>価格:<%= item.price %></p>
  <p>個数:<%= count %></p>
  <p>================</p>
<% end %>