<h1>購入する</h1>

<% if @item_count > 0 %>

  <h2>購入商品</h2>

  <% @items.each do |item_id, count| %>

    <table border="1">
      <tr>
        <th>商品名</th>
        <th>単価</th>
        <th>合計</th>
        <th></th>
      </tr>

      <% item = get_item(item_id) %>

      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %>円(個数:<%= count %>)</td>
        <td><%=item.price * count %>円</td>
        <td><%= link_to 'カートから商品を削除する', item_remove_from_cart_path(item) %></td>
      </tr>

    </table>

    <p style="color: coral">==========================================================</p>
  <% end %>


  <h2>お支払い情報</h2>

  <p>・商品合計金額:<%= @item_total_price %>円</p>

  <p style="color: orange">================================================================================================================</p>

  <p>・送料:<%= @delivery_fee %>円(合計商品数:<%= @item_count %>)</p>
  <span style="font-size: 5px">※5商品ごとに600円追加</span><br>

  <p style="color: orange">================================================================================================================</p>
  <p>・代引き手数料:<%= @cash_on_delivery_fee %>円</p>
  <span style="font-size: 5px">商品合計金額が</span><br>
  <span style="font-size: 5px">※0-10,000円未満：300円+税</span><br>
  <span style="font-size: 5px">※0-10,000円未満：300円+税</span><br>
  <span style="font-size: 5px">※10,000-30,000円未満：400円+税</span><br>
  <span style="font-size: 5px">※30,000-100,000円未満：600円+税</span><br>
  <span style="font-size: 5px">※100,000円以上：1,000円+税</span><br>
  <p style="color: orange">================================================================================================================</p>

  <p>お支払い合計金額(×税8%):<%= @order_total_price %>円</p>

  <h2>配送先情報</h2>

  <%= form_with url: orders_path do |f| %>

    <%= f.label :address ,'・送付先住所' %><br />
    <%= f.text_field :address , value: current_user.default_address %><br />

    <%= f.label :deliver_time, '・希望配送時間帯' %><br />
    <%= f.select :deliver_time, {'8-12': 1, '12-14': 2,'14-16': 3, '16-18': 4, '18-20': 5, '20-21': 6}, :selected=>current_user.default_deliver_time %><br />

    <%= f.submit "購入する" %>
  <% end %>

<% else %>
  <p>購入する予定の商品はありません</p>
<% end %>

