<h1>カート一覧</h1>
<% if @items.blank? %>
  <p>カートに商品はありません</p>
<% else %>
  <%= link_to '購入に進む', new_order_path %>
<% end %>
<%= link_to '買い物を続ける', root_path %>
<p style="color: coral">==========================================================</p>

<% @items.each do |item_id, count| %>

  <% item = get_item(item_id) %>
  <%= image_tag item.image , width: "300px" %>

  <table border="1">
    <tr>
      <th>商品名</th>
      <th>価格</th>
      <th>個数</th>
    </tr>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %>円</td>
      <td><%= count %></td>
    </tr>
  </table>

  <%= button_to 'カートから商品を削除する', item_remove_from_cart_path(item), method: :delete %>

  <p style="color: coral">==========================================================</p>

<% end %>