<h1>カート一覧</h1>
<% if @carts.blank? %>
  <p>カートに商品はありません</p>
<% else %>
  <%= link_to '購入に進む', new_order_path %>
<% end %>
<%= link_to '買い物を続ける', root_path %>
<p style="color: coral">==========================================================</p>

<% @carts.each do |cart| %>
  <%= image_tag cart.item.image , width: "300px" %>

  <table border="1">
    <tr>
      <th>商品名</th>
      <th>価格</th>
      <th>個数</th>
    </tr>
    <tr>
      <td><%= cart.item.name %></td>
      <td><%= cart.item.price %>円</td>
      <td><%= cart.count %></td>
    </tr>
  </table>

  <%= button_to 'カートから商品を削除する', remove_item_path(cart.item), method: :delete %>

  <p style="color: coral">==========================================================</p>

<% end %>