<h1>商品一覧</h1>

<% @items.each do |item| %>

  <%= image_tag item.image , width: "300px" %>

  <table border="1">
    <tr>
      <th>商品名</th>
      <th>価格</th>
      <th>説明</th>
    </tr>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %>円</td>
      <td><%= item.description %></td>
    </tr>
  </table>

  <% if user_signed_in? %>
    <%= button_to 'カートに入れる', add_item_carts_path, method: :post, params: { item_id: item.id } %>
  <% end %>

  <p style="color: coral">==========================================================</p>

<% end %>

