<!DOCTYPE html>
<html>
  <head>
    <title>Market</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to 'トップ', root_path %>

    <% if user_signed_in? %>

      <%= link_to 'プロフィール変更', edit_user_registration_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <%= link_to 'カート一覧', carts_path %>
      <%= link_to '購入履歴', orders_path %>
      <p>こんにちは!!<%= current_user.name %>さん</p>

    <% else %>

      <%= link_to 'サインアップ', new_user_registration_path %>
      <%= link_to 'ログイン', new_user_session_path %>
      <p>商品購入するにはログインしてください</p>

    <% end %>

      <p class="notice" style="color: #b00000"><%= notice %></p>
      <p class="alert" style="color: #b00000"><%= alert %></p>
      <%= yield %>

  </body>
</html>
